@font-face {
  font-family: "Exo 2";
  src: url("../styles/Exo_2/Exo2-VariableFont_wght.ttf");
}

body {
    background-color: #131313;
    margin: 0;
    padding: 0;
    font-family: "Exo 2" !important; /* Corrected syntax */
}

.logo {
    text-decoration: none;
}
.logo:hover {
    text-decoration: none;
}

