.login-page {
    background-color: #121212;
  
    .login-container {
      padding: 40px;
      background-color: rgb(18, 18, 18);
      max-width: 400px;
      width: 100%;
  
      .logo {
        .MuiTypography-root {
          color: #ffffff;
        }
      }
  
      .login-input-field {
        .MuiTextField-root {
          .MuiInputBase-root {
            color: #ffffff;
          }
          .MuiInputLabel-root {
            color: #bdbdbd;
          }
          .MuiOutlinedInput-root {
            fieldset {
              border-color: #757575;
            }
            &:hover fieldset {
              border-color: #ffffff;
            }
            &.Mui-focused fieldset {
              border-color: #ffffff;
            }
          }
        }
      }
  
      .MuiButton-root {
        color: #ffffff;
      }
    }
  }
  
