.trade-page,
.trade-success-page,
.trade-expired-page {
  max-width: 600px;
  margin: 0 auto;
}

.section {
  margin-bottom: 20px;
  padding: 20px;
}

.trade-page .MuiTypography-body1 {
  margin-bottom: 10px;
}
